body {
  margin: 0;
  transition: background-color 0.3s;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.iconfont-button.Mui-disabled {
  filter: opacity(0.2);
}
.preview-actions {
  opacity: 0;
  transition: opacity 200ms;
}
.preview:hover > .preview-actions {
  opacity: 1;
}
.preview > div > .editor > .bread-nav {
  opacity: 0;
  transition: opacity 200ms;
}
.preview:hover > div > .editor > .bread-nav {
  opacity: 1;
}
.preview > .new-open-button {
  opacity: 0;
  transition: opacity 200ms;
}
.preview:hover > .new-open-button {
  opacity: 1;
}
